// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.btncenter{
margin-left:3px;
margin-left:4px;
float:center;
margin-right:2px;
font-size:15px;
font-weight:700;
color:#fff;
line-height:15px;
width:80px;
text-align:center;
background:top repeat-x #308da2;
border-radius:10px;
-moz-border-radius:10px;
position:relative;
text-decoration:none
}